:root {
	--font-family: "Philosopher", sans-serif;
	--second-family: "Roboto", sans-serif;
	--third-family: "Roboto Condensed", sans-serif;
	--font3: "Alegreya", sans-serif;
	--font4: "Syne", sans-serif;

	--black: #111517;
	--dark-green: #253a45;
	--green-gray: #5c686d;
	--light: #e7ecef;
	--accent: #1f6c94;
	--white: #fff;
}

*,
::before,
::after {
	margin: 0;
}

body {
	background: var(--light);
}

ul {
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

.container {
	max-width: 393px;
	padding-left: 57px;
	padding-right: 57px;
	margin: 0 auto;
	box-sizing: border-box;

	background: var(--light);
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding-left: 72px;
		padding-right: 72px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1280px;
		padding-left: 80px;
		padding-right: 80px;
	}
}

/* ######################## HEADER STYLES ######################## */

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 57px;
	margin-bottom: 17px;
}

.header-title {
	font-family: var(--font-family);
	font-weight: 0;
	font-size: 20px;
	color: var(--black);
}

.header-contact {
	display: flex;
	flex-direction: column;

	transition: transform 300ms linear;

}

.header-contact:hover {
	transform: scale(1.2);
}

.header-contact-call {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	color: var(--accent);

	display: flex;
}

.header-contact-nr {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 10px;
	text-align: center;
	color: var(--accent);
}

.header-menu {
	background: var(--green-gray);
	height: 40px;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
}

.btn-burger {
	display: block;
	background-color: transparent;
	margin-top: auto;
	margin-bottom: auto;

	border: none;
}

.header-phone {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.header-menu {
		display: none;
	}

	.header-title {
		font-size: 32px;
	}

	.header-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.nav-list {
		display: flex;
		margin-left: auto;
	}

	.nav-item-link {
		font-family: var(--font3);
		font-weight: 0;
		font-size: 20px;
		color: var(--black);
		opacity: 0.7;
	}

	.nav-item-link:hover {
		font-weight: 700;
		font-size: 24px;
		color: var(--accent);
	}

	.nav-item:not(:last-child) {
		margin-right: 23px;
	}

	.header-contact {
		margin-left: auto;
		margin-top: 36px;

		border: 1px solid var(--accent);
		border-radius: 20px;
		padding: 10px 16px;
	}

	.header-contact-call {
		font-family: var(--font3);
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-contact-nr {
		font-family: var(--font3);
		font-size: 16px;
		font-weight: 200;
	}

	.header-contact-call>svg {
		height: 24px;
		width: 24px;
	}
}

@media screen and (max-width: 767px) {
	.header-nav {
		display: none;
	}
}

@media screen and (min-width: 1440px) {

	.header-contact {
		margin: 0;
	}
}

/* ######################## /HEADER STYLES ######################## */

/* ######################## HERO STYLES ######################## */

.hero-content {
	margin-top: 24px;
	margin-bottom: 8px;
	position: relative;
}

.hero-title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 36px;
	color: var(--black);

	margin-bottom: 16px;
}

.hero-title>span {
	color: var(--accent);
}

.hero-description {
	font-family: var(--font3);
	font-weight: 350;
	font-size: 16px;
	color: var(--green-gray);
}

.hero-images {
	mix-blend-mode: multiply;
	margin-left: -50px;

	max-width: 375px;
	overflow: hidden;
}

.visitors {
	mix-blend-mode: multiply;
	margin-left: 130px;
	margin-top: -92px;
	margin-bottom: 15px;
}

.our-visitors {
	font-family: var(--font3);
	font-weight: 350;
	font-size: 14px;
	line-height: 129%;
	color: var(--black);
}

.raiting {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 10px;
	line-height: 160%;
	color: var(--black);

	display: flex;
	align-items: center;
}

.raiting>span {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 10px;
	line-height: 160%;
	color: var(--green-gray);
}

.social-media {
	bottom: -4px;
	display: flex;
	flex-direction: column;
}

.scroll-btn {
	display: none;
	background-color: var(--accent);
	width: 50px;
	height: 50px;
	position: fixed;
	right: 70px;
	bottom: 30px;
	border-radius: 50%;
	border: 1px solid var(--white);

	font-family: var(--font-family);
	font-weight: 300;
	font-size: 12px;
	line-height: 160%;
	color: var(--light);

	z-index: 11;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(46, 47, 66, 0.4);

	opacity: 1;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
	width: 90%;
	padding: 40px;
	background-color: var(--green-gray);
	position: relative;
	box-shadow: 0 0 10px 0 var(--accent);

	transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.burger-menu-item {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 24px;
	line-height: 160%;
	color: var(--light);
	margin-bottom: 16px;
}

.burger-menu-item a {
	color: inherit;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background: transparent;
	border: none;

	fill: var(--light);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.2);
}

.hero .divider {
	display: none;
}

.order-training {
	transition: transform 300ms linear;
}

.order-training:hover {
	transform: scale(1.2)
}

.social-media li {
	transition: transform 300ms linear;
}

.social-media li:hover {
	transform: scale(1.15);

}

@media screen and (min-width: 768px) {
	.hero-title br {
		display: none;
	}

	.hero-title {
		font-weight: 500;
		font-size: 56px;
		color: var(--black);
	}

	.hero-description {
		font-size: 24px;
		line-height: 167%;
		width: 500px;
	}

	.order-training {
		border-radius: 20px;
		padding: 20px 16px;

		background: var(--accent);

		font-family: var(--font3);
		font-weight: 0;
		font-size: 20px;
		text-align: center;
		color: var(--light);

		border: none;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.hero-content-images {
		margin-left: auto;
		margin-right: auto;

		display: flex;
		flex-direction: column-reverse;

		position: relative;
	}

	.visitors {
		margin: 0;
		display: flex;
		align-items: center;
	}

	.visitors>img {
		margin-right: 8px;
		width: 140px;

	}

	.hero-images {
		max-width: 100%;
	}

	.social-media {
		position: absolute;
		bottom: 20px;
		flex-direction: row;
	}

	.social-media svg {
		width: 44px;
		height: 44px;
	}


	.hero .divider {
		display: block;
		position: relative;
		bottom: -6px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 767px) {
	.order-training {
		display: none;
	}
}

@media screen and (min-width: 1440px) {
	.hero-images {
		width: 64%;
		position: relative;
		margin-top: -354px;
		margin-left: auto;
	}

	.hero-content-images {
		position: relative;
	}

	/* .hero-content-images .social-media {
		bottom: -200px;
	} */
}


/* ######################## /HERO STYLES ######################## */

/* ######################## PROGRAMS STYLES ######################## */

.programs {
	background: var(--white);
	padding-top: 47px;
	padding-bottom: 60px;
}

.programs-title {
	margin-bottom: 16px;

	font-family: var(--font3);
	font-weight: 500;
	font-size: 24px;
	color: var(--accent);
}

.programs-ad {
	font-family: var(--font3);
	font-weight: 350;
	font-size: 14px;
	color: var(--green-gray);

	margin-bottom: 24px;
}

.programs-card {
	border-radius: 20px;
	width: 280px;
	padding: 16px;

	background: var(--light);
}

.programs-card:not(:last-child) {
	margin-right: 10px;
}

.programs-card>svg {
	margin-left: auto;
	margin-right: auto;
	display: block;

	margin-top: 10px;
}

.card-title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 20px;
	line-height: 180%;
	color: var(--accent);

	text-align: center;
	margin-bottom: 24px;
}

.card-descr {
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 162%;
	text-align: center;
	color: #555d65;
}

.card-image {
	margin: 20px auto 23px;
	display: block;
	width: -webkit-fill-available;
}

.card-know-more {
	display: block;

	border: 1px solid var(--accent);
	border-radius: 20px;
	padding: 10px 16px;
	width: 179px;
	height: 50px;

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--accent);

	margin-left: auto;
	margin-right: auto;
}

.swiper-container {
	overflow: hidden;
}

.programs .divider {
	display: none;
}

@media screen and (min-width: 768px) {
	.programs-title {
		font-weight: 500;
		font-size: 40px;
		color: var(--accent);

		text-align: center;
		margin-bottom: 18px;
	}

	.programs-ad {
		font-family: var(--font3);
		font-size: 22px;
		line-height: 167%;
		text-align: center;

		margin-bottom: 54px;
	}

	.programs .divider {
		display: block;

		position: relative;
		bottom: -66px;

		margin-right: auto;
		margin-left: auto;

		z-index: 22;
	}
}

@media screen and (min-width: 1440px) {
	.swiper-button-prev {
		left: 30px;
	}
}

/* ######################## /PROGRAMS STYLES ######################## */

/* ######################## Our Tainers STYLES ######################## */

.trainers-title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 24px;
	color: var(--accent);
	margin-top: 24px;
	margin-bottom: 22px;
}

.trainers-img {
	mix-blend-mode: multiply;
	display: block;
	margin-left: -60px;
}

.trainer-name {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 36px;
	line-height: 133%;
	color: var(--accent);
}

.trainer-position {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 300%;
	color: var(--black);
}

.trainer-descr {
	font-family: var(--font-family);
	font-weight: 0;
	font-size: 16px;
	line-height: 162%;
	color: #555d65;

	margin-bottom: 50px;
}

.trainers>svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 12px;
}

.trainers .divider {
	display: none;
}

@media screen and (min-width: 768px) {

	.trainers {
		position: relative;
		padding-bottom: 22px;
	}

	.trainer-card {
		position: absolute;
		top: 50px;
		right: 0;
		width: 200px;
	}

	.trainers-title {
		font-weight: 500;
		font-size: 40px;
		text-align: end;
		margin-bottom: 0;
		position: relative;
		right: 80px;

	}

	.trainer-name {
		font-family: var(--font3);
		font-weight: 400;
		font-size: 32px;
		line-height: 133%;
	}

	.trainer-position {
		font-family: var(--font3);
		font-weight: 300;
		font-size: 20px;
		line-height: 133%;
		color: var(--black);

		margin-bottom: 16px;
	}

	.trainers-img {
		display: block;
		max-width: 324px;
		margin-right: auto;
	}

	.trainer-card {
		position: absolute;
		top: 50px;
		right: 80px;
		width: 310px;

		margin-top: 20px;
	}

	.trainers .divider {
		display: block;
		position: relative;
		bottom: -40px;

	}
}

@media screen and (min-width: 1440px) {
	.trainers-img {
		max-width: 580px;
	}

	.trainer-card {
		top: 190px;
		right: 80px;
		width: 30%;
	}

	.trainers-title {
		position: relative;
		top: 120px;
		margin-top: 0;
		right: 148px;
	}
}

/* ######################## /Our Tainers STYLES ######################## */

/* ######################## ABONEMENTS STYLES ######################## */

.abonements {
	background: var(--white);

	padding: 24px 10px;
}

.abon-title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 24px;
	color: var(--accent);
	margin-left: 47px;
	margin-bottom: 16px;
}

.abon-ad {
	font-family: var(--font-family);
	font-weight: 0;
	font-size: 16px;
	line-height: 150%;
	color: #555d65;

	margin-left: 47px;
	margin-bottom: 24px;
}

.abon-card {
	padding: 16px;
	border-radius: 10px;
	width: 210px;
	background: var(--light);
}

.abon-price {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 36px;
	line-height: 172%;
	color: var(--accent);
}

.abon-descr {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 12px;
	color: var(--accent);

	margin-bottom: 12px;
}

.abon-card>button {
	display: block;
	border-radius: 20px;
	width: 160px;
	height: 40px;

	margin-right: auto;
	margin-left: auto;

	background: var(--accent);

	font-family: var(--second-family);
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	text-align: center;
	color: var(--light);
	border-color: transparent;
}

.abon-card:last-child {
	margin-left: auto;
}

.abon-card-popular {
	position: absolute;
	transform: rotate(-45deg);

	padding: 18px;
	border-radius: 10px;
	width: 252px;
	background: var(--accent);
}

.popular-back {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	left: 57px;

	width: 220px;
	height: 220px;


	transform: rotate(45deg);
	background: var(--light);
	box-shadow: 0 0 10px 0 var(--accent);
}

.abon-price-popular {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 40px;
	line-height: 159%;
	color: var(--light);
	margin-bottom: 24px;
}

.abon-descr-popular {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 139%;
	color: var(--light);
	margin-bottom: 24px;
}

.abon-card-popular>button {
	display: block;
	margin-left: auto;
	background: var(--light);
	border-radius: 20px;
	width: 160px;
	height: 40px;

	border-color: transparent;

	font-family: var(--second-family);
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	text-align: center;
	color: var(--accent);
}

.abon-card-list {
	margin-bottom: 24px;
}

.abonements .divider {
	display: none;
}

.abon-buy-btn {
	transition: background-color 300ms linear;
}

.abon-buy-btn:hover {
	background-color: var(--white);
	color: var(--accent);
}

.abon-card-popular>button {
	transition: background-color 300ms linear;
}

.abon-card-popular>button:hover {
	background-color: var(--accent);
	color: var(--white);
}


@media screen and (min-width: 768px) {
	.abon-title {
		font-weight: 500;
		font-size: 40px;

		margin-bottom: 24px;
	}

	.abon-ad {
		font-family: var(--font3);
		font-size: 24px;
		line-height: 150%;
	}

	.abon-card-list {
		display: flex;
		margin-top: 60px;
		margin-bottom: 150px;
	}

	.abonements {
		padding: 60px 72px;
	}

	.abon-price {
		font-size: 36px;
		line-height: 133%;
	}

	.abon-descr {
		font-size: 15px;
	}

	.abon-card>button {
		width: 142px;
		height: 33px;

		font-family: var(--second-family);
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		text-align: center;
		color: var(--light);
	}

	.abon-price-popular {
		font-size: 36px;
		margin-bottom: 16px;
	}

	.abon-card-popular {
		width: 220px;
	}

	.abon-card-popular>button {
		height: 33px;
		font-size: 14px;
		padding: 8px;
	}

	.popular-back {
		top: 108px;
		left: 0;
	}


	.abonements .divider {
		display: block;
		position: relative;
		left: 46%;
		bottom: -22px;
		z-index: 22;
		margin-bottom: -45px;
	}
}

@media screen and (min-width: 1440px) {
	.popular-back {
		margin: 0;
		top: 0;
	}

	.abon-card:last-child {
		margin: 0;

	}

	.abon-card-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	.abon-card {
		width: 230px;
	}

}

/* ######################## /ABONEMENTS STYLES ######################## */

/* ######################## CONTACTS STYLES ######################## */

.contacts-image {
	display: block;
	mix-blend-mode: multiply;
	margin-right: auto;
	margin-left: auto;
	width: 74%;
}

.contacts-title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 24px;
	color: var(--accent);

	margin-bottom: 14px;
}

.openning-hours>p {
	font-family: var(--font3);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.09em;
	color: var(--black);

	margin-bottom: 14px;
}

.openning-hours span {
	font-weight: 800;
}

.openning-hours {
	margin-bottom: 24px;
}

.address>address {
	font-family: var(--font3);
	font-weight: 0;
	font-size: 14px;
	letter-spacing: 0.09em;
	color: var(--black);

	font-style: normal;
}

.address>iframe {
	border-radius: 10px;
	box-shadow: 0 0 7px 0 var(--accent);

	margin-top: 14px;
	margin-bottom: 24px;

	width: 278px;
}

.social-media-contacts {
	display: none;
}

.view-on-map {
	display: none;
}

.social-media-contacts li {
	transition: transform 300ms linear;
}

.social-media-contacts li:hover {
	transform: scale(1.3);
}



@media screen and (min-width: 768px) {

	.contacts {
		position: relative;
	}

	.contacts-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}

	.contacts-image {
		margin: 0;
		height: 265px;
		width: 184px;
		order: 1;
	}

	.address {
		width: 200px;
		order: 2;

		margin-bottom: auto;
		margin-top: auto;
	}

	.address iframe {
		display: none;
	}

	.openning-hours {
		width: 150px;
		margin-bottom: auto;
		margin-top: 80px;

	}

	.social-media-contacts {
		position: absolute;
		right: 208px;
		bottom: 100px;
		display: flex;
	}

	.view-on-map {
		width: 200px;

		display: block;
		margin: 50px auto 24px;
	}

	.location {
		display: flex;
	}

	.location p {
		font-family: var(--font3);
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		color: var(--black);

		margin-left: 16px;
	}
}

@media screen and (min-width: 1440px) {
	.contacts-wrapper {
		justify-content: space-around;
		margin-top: 20px;
	}

	.contacts-image {
		width: 230px;
	}

	.social-media-contacts {
		bottom: 0;
		left: 167px;
		width: fit-content;
	}

}

/* ######################## /CONTACTS STYLES ######################## */

/* ######################## FOOTER STYLES ######################## */

.footer {
	height: 120px;
	background: var(--accent);
	display: flex;
	justify-content: space-between;
}

.logo-name {
	font-family: var(--font-family);
	font-size: 20px;
	letter-spacing: 0.09em;
	color: var(--white);
	margin-top: auto;
	margin-bottom: auto;
}

.footer-rights {
	font-family: var(--font4);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	text-align: left;
	color: var(--white);
	margin-top: 18px;
}

@media screen and (min-width: 768px) {
	.footer .logo-name {
		font-size: 20px;
		letter-spacing: 0.06em;
	}

	.footer-rights {
		margin-top: auto;
		margin-bottom: auto;
	}

	.footer-rights br {
		display: none;
	}
}

/* ######################## /FOOTER STYLES ######################## */